@import "tailwindcss";

@layer components {
    .card1 {
        @apply m-auto p-5 w-70 h-100
    }
    .card2 {
        @apply m-auto p-5 w-70 h-50
    }
    .card-title {
        @apply text-2xl font-bold underline justify-center flex
    }

    .center {
        @apply justify-center flex
    }
    .center-col {
        @apply justify-center flex-col
    }

    .buttom-card {
        @apply gap-2
    }

    .icon {
        @apply w-9 h-9
    }
    .icon-banner {
        @apply w-15 h-15
    }

    .banner-out-1 {
        @apply w-auto h-100
    }
    .banner-title {
        @apply text-5xl text-teal-400
    }
}